<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project page</title>
</head>
<body>
  <h1><%= pageTitle %></h1>

  <a href="/">Root home</a>
  <br>
  <a href="/home">Home</a>
  <br>
  <a href="/about">About page</a>

  <h2><%= pageDescription %></h2>

  <a href="https://github.com/ron766/lightslider.git" target="_blank">Light slider</a>
  <br>
  <a href="https://github.com/ron766/hello-world.git" target="_blank">Hello world demo</a>
  <br>
  <a href="https://github.com/ron766/Calculator.git" target="_blank">Calculator</a>
  <br>
  <a href="https://github.com/ron766/music.git" target="_blank">Music website</a>
  <br>
  <a href="https://github.com/ron766/express-demo-1.git" target="_blank">Express demo 1</a>

  <!-- footer -->
</body>
</html>
